<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jaydi.ruby"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.jaydi.ruby.application.RubyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver android:name="org.altbeacon.beacon.startup.StartupBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.jaydi.ruby.location.tracking.TrackingRestartReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="TrackingRestartReceiver" >
            <intent-filter>
                <action android:name="com.jaydi.ruby.intent.action.RESTART_TRACKING" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.jaydi.ruby.location.tracking.TrackingReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="TrackingReceiver" >
        </receiver>
        <receiver
            android:name="com.jaydi.ruby.beacon.scanning.BluetoothStateReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="BluetoothStateReceiver" >
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.jaydi.ruby.beacon.scanning.ScanningCommandReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="ScanningCommandReceiver" >
            <intent-filter>
                <action android:name="com.jaydi.ruby.intent.action.RESTART_SCANNING" />
            </intent-filter>
        </receiver>

        <service android:name="com.jaydi.ruby.location.tracking.TrackingService" />
        <service
            android:name="org.altbeacon.beacon.service.BeaconService"
            android:enabled="true"
            android:isolatedProcess="false"
            android:label="beacon" >
        </service>
        <service
            android:name="org.altbeacon.beacon.BeaconIntentProcessor"
            android:enabled="true" >
        </service>

        <activity
            android:name="com.jaydi.ruby.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jaydi.ruby.RubyActivity"
            android:label="@string/title_activity_ruby" >
        </activity>
    </application>

</manifest>